<ion-view view-title="Make a New Connection">
  <ion-pane class="connection-pane">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Email Address or Name" ng-model="query">
    </label>
    <ion-scroll>
      <ion-list>
        <ion-item class="connection-item" ng-click="sendRequest(user)" collection-repeat="user in users | orderBy: first + last | emailOrName:query">
          <span class="connection-name">{{user.first}} {{user.last}}</span>
          <i ng-if="isPartner(user.$id)" class="icon ion-ios-checkmark-outline balanced connection-existing"></i>
          <button ng-if="isPending(user.$id)" ng-click="deleteRequest(user.$id, $event)" class="button button-outline button-energized connection-pending">Pending</button>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-pane>
</ion-view>