<ion-view view-title="Welcome to InfoShare!">
  <ion-content>
    <ion-list>
      <!--<ion-item class="item-input item-stacked-label login-item">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="user.first" placeholder="John">
      </ion-item>
      <ion-item class="item-input item-stacked-label login-item">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="user.last" placeholder="Doe">
      </ion-item>-->
      <ion-item class="item-input item-stacked-label login-item">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email" placeholder="john@doe.com">
      </ion-item>
      <ion-item class="item-input item-stacked-label login-item">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" placeholder="password">
      </ion-item>
    </ion-list>
    
    <div class="padding">
      <button class="button button-block button-positive" ng-click="setUid()">
        Log In
      </button>
    </div>
  </ion-content>
</ion-view>